@font-face {
	font-family: 'consola';
	src: url('fonts/consola.eot');
	src: url('fonts/consola.eot?#iefix') format('embedded-opentype'),
			url('fonts/consola.woff') format('woff'),
			url('fonts/consola.ttf') format('truetype'),
			url('fonts/consola.svg#consolas') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: 'Segoe UI', sans-serif;
}
.title{
	font-family:微软雅黑;
	font-size:20px;
	line-height:20px;
	margin-left:-4px;
}
.webix_datatable_overlay{
	font-size: 64px;
}
.header {
    font-size: 18px;
	font-family: 微软雅黑;
	text-align:justify;
    color: #ffffff;
    background: #808080;
}

.textAlignCenter {
	text-align: center;
}

.dashboard .property{
	float:left;
}
.dashboard .property>span{
	margin-left: 4px;
	margin-right: 4px;
}
.webix_accordionitem_header {
	line-height:24px;
}
.webix_accordionitem_button{
	margin:8px;
}
.webix_template{padding:4px;}

table.log {
	font-size: 10pt;
	font-family: 'Consolas';
	table-layout:fixed;
	word-wrap:break-word;
}
tr.header {
	font-size: 10pt;
	font-family: 'Consolas';
	background-color:#808080;
	color:#FFFFFF;
}
pre {
	font-size: 10pt;
	font-family: 'Consolas';
	tab-size:4; 
	-moz-tab-size:4; 
	-o-tab-size:4; 
	margin: 0px;
}
tr.Debug { color:#707070; }
tr.Info { color:Black; }
tr.Error { color:Red; font-weight:bold; }
tr.Fatal { color:brown; font-weight:bold; }
tr.Warn { color:chocolate; }
tr.tr0 { background-color: rgb(224, 224, 224); }
tr.tr1 { background-color: rgb(240, 240, 240); }
.webix_view a.webix_list_item:focus,.webix_view div:focus,.webix_view span:focus,.webix_view.webix_window:focus{outline:none}